{
  "presets": [["@babel/preset-env"]],
  "plugins": [
    "macros",
    "@babel/plugin-proposal-do-expressions",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-syntax-flow",
    "@babel/plugin-transform-flow-strip-types",
    ["@babel/plugin-transform-runtime", {
      "absoluteRuntime": false,
      "corejs": false,
      "helpers": true,
      "regenerator": true,
      "useESModules": false
    }],
    "babel-plugin-array-last-index",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["flow-runtime", { "assert": true, "annotate": true, "warn": true }]
  ]
}
