{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "esmodules": true
      }
     }      
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-transform-runtime"
  ]  
}
