{
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "node",
    "promise",
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {}
  },
  "env": {
    "es2020": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "$tw": true
  },
  "rules": {
    "max-len": [
      "error", {
        "code": 180,
        "comments": 180,
        "tabWidth": 2
      }
    ],
    "spaced-comment": 0,
    "no-redeclare": 0,
    "linebreak-style": [
      "error",
      "unix"
    ]
  }
}