{
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "jest",
    "node",
    "promise",
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {}
  },
  "env": {
    "es6": true,
    "jest": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "$tw": true
  },
  "rules": {
    "spaced-comment": 0,
    "no-redeclare": 0,
    "linebreak-style": [
      "error",
      "unix"
    ]
  }
}